@page
@model Proiect_Medii.Pages.Artists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.ProfilePictureURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.ProfilePictureURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Bio)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Artist?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
